@import 'vars';

.error404 {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.h1 {
    font-size: 100px;
    color: var(--hospital-green);
    margin: 0;
}

.h3 {
    font-size: 50px;
    color: var(--very-light-pink);
    margin: 0;
}